    html,
    body {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    #flex-container {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    
    ul li {
        height: 100px;
        width: 230px;
        padding-top: 120px;
        color: #fff;
        font-weight: bold;
        font-size: 5em;
        text-align: center;
    }
    
    ul li:first-child {
        background: grey;
    }
    
    ul li:nth-child(2) {
        background: green;
    }
    
    ul li:nth-child(3) {
        background: red;
    }
    
    ul li:nth-child(4) {
        background: blue;
    }
    
    ul li:nth-child(5) {
        background: Yellow;
    }
    
    ul li:nth-child(6) {
        background: purple;
    }
    
    ul li:nth-child(7) {
        background: green;
    }
    
    ul li:nth-child(8) {
        background: red;
    }
    
    ul li:nth-child(9) {
        background: blue;
    }
    
    ul li:nth-child(10) {
        background: Yellow;
    }
    
    ul li:nth-child(11) {
        background: purple;
    }
    
    ul li:nth-child(12) {
        background: green;
    }
    
    ul li:nth-child(13) {
        background: red;
    }
    
    ul li:nth-child(14) {
        background: blue;
    }
    
    ul li:nth-child(15) {
        background: Yellow;
    }
    
    ul li:nth-child(16) {
        background: purple;
    }
    
    ul li:nth-child(17) {
        background: green;
    }
    
    ul li:nth-child(18) {
        background: red;
    }
    
    ul li:nth-child(19) {
        background: blue;
    }
    
    ul li:nth-child(20) {
        background: Yellow;
    }
    
    ul li:nth-child(21) {
        background: purple;
    }
    
    ul li:nth-child(22) {
        background: blue;
    }
    
    ul li:nth-child(23) {
        background: Yellow;
    }
    
    ul li:nth-child(24) {
        background: purple;
    }
    
    ul li:nth-child(25) {
        background: green;
    }
    
    ul li:nth-child(26) {
        background: red;
    }
    
    ul li:nth-child(27) {
        background: blue;
    }
    
    ul li:nth-child(28) {
        background: Yellow;
    }
    
    ul li:nth-child(29) {
        background: purple;
    }
    
    @media only screen and (max-width:768px) {
        ul li {
            width: 360px;
        }
        @media only screen and (max-width:600px) {
            ul li {
                width: 600px;
            }
        }
    }